# Environment variables
.env
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3
data/

# Javascript/Node
node_modules/
dist/
build/
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Artifacts
.gemini/
